* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Jost", sans-serif;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  background-color: #2b2c3a;
}

.buttons__slider {
  background-color: rgba(255, 0, 0, 0);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.15);
  margin-right: 5px;
}
.buttons__slider img {
  width: 20%;
}
.buttons__slider:hover {
  border: solid 1px rgba(255, 255, 255, 0.4);
}

.button_blue {
  transition: 0.5s all;
  border: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 30px;
  border-radius: 4px;
  background-color: #6b69f9;
  font-size: 12px;
}
.button_blue:hover {
  background-color: rgba(107, 105, 249, 0.69);
}
.button_blue:active {
  background-color: rgba(36, 203, 141, 0.8);
}

.card-header__lectures {
  z-index: 1;
  right: 65px;
  top: 0;
  position: absolute;
  margin-right: 10px;
}

.card-header .card-header__level {
  text-transform: uppercase;
  font-size: 11px;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 5px;
}
.card-header .card-header__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 18px;
  text-align: left;
  color: white;
}

*::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(18, 18, 202, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(111, 110, 255, 0.5);
}

.left-bar {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  background-color: rgba(156, 165, 236, 0.04);
  padding: 20px 0 37px 0;
  transition: 0.6s all;
}
.left-bar_active {
  left: 0;
}
.left-bar .left-bar__header {
  padding-left: 30px;
  padding-bottom: 15px;
}
.left-bar .left-bar__body {
  height: 85%;
  border-top: 1px solid rgba(216, 216, 216, 0.19);
  padding: 30px 0 0 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-bar .left-bar__body .left-bar__list {
  border-bottom: 1px solid rgba(216, 216, 216, 0.19);
}
.left-bar .left-bar__body .left-bar__item {
  user-select: none;
  text-transform: uppercase;
  transition: 0.5s all;
}
.left-bar .left-bar__body .left-bar__item .left-bar__link {
  display: block;
  width: 90%;
  padding-left: 30px;
}
.left-bar .left-bar__body .left-bar__item:hover {
  transform: scale(1.01);
}
.left-bar .left-bar__body .left-bar__item:hover .left-bar__link:hover {
  color: #6f6eff;
}
.left-bar .left-bar__body .left-bar__item:hover .accordion__title {
  display: block;
  width: 100%;
  color: #6f6eff;
  padding-right: 51px;
}
.left-bar .left-bar__body .left-bar__item_media {
  display: none;
}
.left-bar .left-bar__body .left-bar__item:not(:last-child) {
  margin-bottom: 20px;
}
.left-bar .left-bar__body .left-bar__item .accordion {
  cursor: pointer;
  transition: 0.6s all;
}
.left-bar .left-bar__body .left-bar__item .accordion .accordion__title {
  padding-left: 30px;
  position: relative;
}
.left-bar .left-bar__body .left-bar__item .accordion .accordion__title:after {
  content: url("/icon/accordion_button.svg");
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.6s all;
}
.left-bar .left-bar__body .left-bar__item .accordion .accordion__list .accordion__item {
  position: relative;
  list-style: none;
  padding-left: 50px;
  transition: 0.5s all;
}
.left-bar .left-bar__body .left-bar__item .accordion .accordion__list .accordion__item .accordion__link {
  width: 90%;
  display: flex;
  align-items: center;
  min-height: 40px;
}
.left-bar .left-bar__body .left-bar__item .accordion .accordion__list .accordion__item .accordion__link .accordion__svg {
  margin-right: 25px;
}
.left-bar .left-bar__body .left-bar__item .accordion .accordion__list .accordion__item:hover {
  border-left: 3px solid #6f6eff;
  background-image: linear-gradient(119deg, rgba(255, 255, 255, 0) -26%, rgba(255, 255, 255, 0.1) 74%);
}
.left-bar .left-bar__body .left-bar__item .accordion .accordion__list .accordion__item:hover svg > path {
  fill: #6f6eff;
}
.left-bar .left-bar__body .left-bar__item .accordion .accordion__list li:first-child {
  margin-top: 5px;
}
.left-bar .left-bar__body .left-bar__item .accordion[open] .accordion__title:after {
  transform: translateY(-50%) rotate(-90deg);
}
.left-bar .left-bar__footer {
  user-select: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-top: auto;
  opacity: 0.5;
  line-height: 10px;
  text-align: left;
  color: white;
}
.left-bar .left-bar__footer input {
  display: none;
}
.left-bar .left-bar__footer label {
  border-radius: 15px;
  border: solid 1px white;
  display: inline-block;
  position: relative;
  width: 42px;
  height: 22px;
  background: none;
  transition: 0.5s;
}
.left-bar .left-bar__footer label::before {
  content: "";
  position: absolute;
  background: #6f6eff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: 21px;
  top: 2px;
  transition: 0.5s;
}
.left-bar .left-bar__footer input:checked + label::before {
  left: 3px;
}

.top-bar {
  background-color: #2b2c3a;
  z-index: 2;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(216, 216, 216, 0.19);
}
.top-bar .top-bar__list {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  display: flex;
  height: 77.7px;
  justify-content: flex-end;
  align-items: center;
}
.top-bar .top-bar__list .hamburger {
  display: none;
}

.inform {
  margin-right: auto;
  padding-right: 30px;
  border-right: 2px solid rgba(216, 216, 216, 0.1);
}
.inform .inform__list {
  display: flex;
}
.inform .inform__list .inform__item {
  transition: 0.5s all;
}
.inform .inform__list .inform__item .inform__link {
  color: rgba(255, 255, 255, 0.51);
}
.inform .inform__list .inform__item:not(:last-child) {
  margin-right: 20px;
}
.inform .inform__list .inform__item:hover {
  transform: scale(1.05);
}
.inform .inform__list .inform__item:hover .inform__link {
  color: rgba(36, 203, 141, 0.73);
}
.inform .inform__list .inform__item:active .inform__link {
  color: rgba(36, 203, 141, 0.88);
}

.lecture-information {
  display: flex;
  align-items: center;
}
.lecture-information__item {
  user-select: none;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 100px;
  height: 24px;
  border-radius: 5px;
  background-color: rgba(91, 89, 89, 0.38);
  transition: 0.5s all;
}
.lecture-information:focus {
  outline: 1px solid white;
}
.lecture-information__item:last-child {
  padding-top: 1px;
  padding-left: 3px;
}
.lecture-information__item:last-child .lecture-information__icon {
  margin-right: 5px;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  box-shadow: 0 0 12px 0 rgba(255, 71, 56, 0.5);
  background-color: #ff4738;
}
.lecture-information__item:last-child .lecture-information__icon:before {
  position: absolute;
  content: url("/icon/lightning.svg");
  left: 50%;
  top: 60%;
  transform: translateX(-50%) translateY(-50%);
}
.lecture-information__item:last-child span {
  font-weight: 700;
}
.lecture-information__item:not(:last-child) {
  margin-right: 20px;
}
.lecture-information__item:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to right, rgba(36, 203, 141, 0.73), rgba(91, 89, 89, 0.38));
}
.lecture-information__item:active {
  background-color: #24cb8d;
}

.account-profile {
  margin-left: 20px;
  display: flex;
  column-gap: 15px;
}
.account-profile__image img {
  min-width: 43px;
}
.account-profile .account-profile__text .account-profile__name {
  margin-bottom: 5px;
}
.account-profile .account-profile__text .account-profile__name:after {
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  content: "Pro";
  text-transform: uppercase;
  margin-right: 10px;
  width: 40px;
  height: 14px;
  box-shadow: 0 0 12px 0 rgba(111, 110, 255, 0.5);
  background-image: linear-gradient(to right, #6b69f9, #6f6eff);
  border-radius: 5px;
}
.account-profile .account-profile__text .account-profile__name:hover:after {
  background-image: linear-gradient(to right, #24cb8d, #6f6eff);
}
.account-profile .account-profile__text .account-profile__status {
  user-select: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 10px;
  text-align: left;
  color: #24cb8d;
}
.account-profile .account-profile__text .account-profile__status:before {
  content: " ";
  display: inline-block;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  background-color: #24cb8d;
  border-radius: 50%;
  left: 1%;
}

main {
  padding-left: 280px;
  width: 100%;
}
main .content {
  padding: 40px 40px 15px 50px;
  width: 100%;
}
main .content .card {
  max-width: 1200px;
  margin: 0 auto 50px auto;
  position: relative;
}
main .content .card .card__list {
  padding-top: 25px;
}
main .content .card .card__item {
  margin-right: 10px;
  margin-left: 10px;
  transition: box-shadow 0.5s, transform 0.5s;
  border-radius: 6px;
  width: 100%;
  background-image: linear-gradient(119deg, rgba(255, 255, 255, 0) -26%, rgba(255, 255, 255, 0.1) 74%);
}
main .content .card .card__item .card__image {
  position: relative;
  width: 100%;
  height: 144px;
  background: url("../image/theme-structure.jpg") no-repeat center/cover;
}
main .content .card .card__item .card__image .card__image-text {
  top: 10%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  background-color: #6f6eff;
  position: absolute;
}
main .content .card .card__item:hover {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.11);
}
main .content .card .card__item:nth-child(2) .card__image {
  background: url("../image/theme-link.jpg") no-repeat center/cover;
}
main .content .card .card__item:nth-child(3) .card__image {
  background: url("../image/theme-css.jpg") no-repeat center/cover;
}
main .content .card .card__item:nth-child(4) .card__image {
  background: url("../image/theme-cascade.jpg") no-repeat center/cover;
}
main .content .card .card__item:nth-child(5) .card__image {
  background: url("../image/theme-link.jpg") no-repeat center/cover;
}
main .content .card .card__item:nth-child(6) .card__image {
  background: url("../image/theme-structure.jpg") no-repeat center/cover;
}
main .content .card .card__item .card__body {
  min-height: 113px;
  padding: 15px 15px 0 15px;
}
main .content .card .card__item .card__body .card__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  font-size: 15px;
  text-align: left;
  color: white;
  margin-bottom: 10px;
}
main .content .card .card__item .card__body .card__text {
  overflow-y: auto;
  max-height: 57px;
  font-size: 13px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
main .content .card .card__item .card__footer {
  border-top: 1px solid rgba(216, 216, 216, 0.04);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .content .card .card__item .card__footer .card__data-text {
  font-size: 13px;
}

.slick-prev {
  right: 35px;
  top: 0;
  position: absolute;
}

.slick-next {
  right: 0;
  position: absolute;
  top: 0;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slick-dots li button {
  border: none;
  background-color: #ffffff;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid white;
}

.slick-slider {
  position: static;
}

@media (max-width: 1250px) {
  .left-bar .left-bar__body .left-bar__item_media {
    display: block;
    margin-bottom: 30px;
  }

  .top-bar .top-bar__list .inform {
    display: none;
  }
  .top-bar .top-bar__list .lecture-information {
    margin-right: auto;
  }
}
@media (max-width: 992px) {
  .content {
    padding: 40px 40px 15px 40px;
  }

  .left-bar {
    left: -100%;
    background-color: #2d2e40;
  }
  .left-bar_active {
    left: 0;
  }

  .top-bar .top-bar__list .hamburger {
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .top-bar .top-bar__list .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  .top-bar .top-bar__list .hamburger_active span {
    margin-bottom: -2px;
  }
  .top-bar .top-bar__list .hamburger_active span:first-child {
    transform: translateY(3px) rotate(-45deg);
  }
  .top-bar .top-bar__list .hamburger_active span:nth-child(2) {
    display: none;
  }
  .top-bar .top-bar__list .hamburger_active span:last-child {
    transform: translateY(3px) rotate(45deg);
  }
  .top-bar .inform {
    display: none;
  }

  main {
    padding-left: 0;
    transition: 0.7s all;
  }
}
@media (max-width: 680px) {
  main .content {
    padding: 40px 30px 15px 30px;
  }

  .top-bar .top-bar__list {
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-bar .top-bar__list .lecture-information {
    display: none;
  }
  .top-bar .top-bar__list .account-profile {
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  main .content {
    padding: 50px;
  }
}
@media (max-width: 390px) {
  main .content {
    padding: 30px;
  }

  .card-header__lectures {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
