main
  padding-left: 280px
  width: 100%
  .content
    padding: 40px 40px 15px 50px
    width: 100%
    .card
      max-width: 1200px
      margin: 0 auto 50px auto
      position: relative
      .card__list
        padding-top: 25px
      .card__item
        margin-right: 10px
        margin-left: 10px
        transition: box-shadow 0.5s,transform 0.5s
        border-radius: 6px
        width: 100%
        background-image: linear-gradient(119deg, rgba(255, 255, 255, 0) -26%, rgba(255, 255, 255, 0.1) 74%)
        .card__image
          position: relative
          width: 100%
          height: 144px
          background: url("../image/theme-structure.jpg") no-repeat center / cover
          .card__image-text
            top: 10%
            left: 5%
            display: flex
            justify-content: center
            align-items: center
            font-size: 12px
            width: 50px
            height: 20px
            border-radius: 3px
            background-color: rgb(111, 110, 255)
            position: absolute
        &:hover
          transform: translateY(-3px) scale(1.01)
          box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.11)
        &:nth-child(2)
          .card__image
            background: url("../image/theme-link.jpg") no-repeat center / cover
        &:nth-child(3)
          .card__image
            background: url("../image/theme-css.jpg") no-repeat center / cover
        &:nth-child(4)
          .card__image
            background: url("../image/theme-cascade.jpg") no-repeat center / cover
        &:nth-child(5)
          .card__image
            background: url("../image/theme-link.jpg") no-repeat center / cover
        &:nth-child(6)
          .card__image
            background: url("../image/theme-structure.jpg") no-repeat center / cover
        .card__body
          min-height: 113px
          padding: 15px 15px 0 15px
          .card__title
            white-space: nowrap
            text-overflow: ellipsis
            overflow: hidden
            font-weight: 500
            font-size: 15px
            text-align: left
            color: rgb(255, 255, 255)
            margin-bottom: 10px
          .card__text
            overflow-y: auto
            max-height: 57px
            font-size: 13px
            text-align: left
            color: rgba(255, 255, 255, 0.5)
        .card__footer
          border-top: 1px solid rgba(216, 216, 216,0.04 )
          padding: 15px
          display: flex
          justify-content: space-between
          align-items: center
          .card__data-text
            font-size: 13px


