.left-bar
  overflow-y: auto
  overflow-x: hidden
  z-index: 3
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 280px
  background-color: rgba(156, 165, 236, 0.04)
  padding: 20px 0 37px 0
  transition: 0.6s all
  &_active
    left: 0
  .left-bar__header
    padding-left: 30px
    padding-bottom: 15px
  .left-bar__body
    height: 85%
    border-top: 1px solid rgb(216, 216, 216, 0.19)
    padding: 30px 0 0 0
    font-size: 14px
    display: flex
    flex-direction: column
    justify-content: space-between
    .left-bar__list
      border-bottom: 1px solid rgba(216, 216, 216, 0.19)
    .left-bar__item
      user-select: none
      text-transform: uppercase
      transition: 0.5s all
      .left-bar__link
        display: block
        width: 90%
        padding-left: 30px
      &:hover
        transform: scale(1.01)
        .left-bar__link:hover
          color: rgb(111, 110, 256)
        .accordion__title
          display: block
          width: 100%
          color: rgb(111, 110, 255)
          padding-right: 51px
      &_media
        display: none
      &:not(:last-child)
        margin-bottom: 20px
      .accordion
        cursor: pointer
        transition: 0.6s all
        .accordion__title
          padding-left: 30px
          position: relative
        .accordion__title:after
          content: url("/icon/accordion_button.svg")
          position: absolute
          right: 10%
          top : 50%
          transform: translateY(-50%)
          transition: 0.6s all
        .accordion__list
          .accordion__item
            position: relative
            list-style: none
            padding-left: 50px
            transition: 0.5s all
            .accordion__link
              width: 90%
              display: flex
              align-items: center
              min-height: 40px
              .accordion__svg
                margin-right: 25px
            &:hover
              border-left: 3px solid rgb(111, 110, 255)
              background-image: linear-gradient(119deg, rgba(255, 255, 255, 0) -26%, rgba(255, 255, 255, 0.1) 74%)
              svg>path
                fill: rgb(111, 110, 255)
          li:first-child
            margin-top: 5px
      .accordion[open]
        .accordion__title:after
          transform: translateY(-50%) rotate(-90deg)

  .left-bar__footer
    user-select: none
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    padding: 30px
    margin-top: auto
    opacity: 0.5
    line-height: 10px
    text-align: left
    color: rgb(255, 255, 255)
    & input
      display: none
    & label
      border-radius: 15px
      border: solid 1px rgb(255, 255, 255)
      display: inline-block
      position: relative
      width: 42px
      height: 22px
      background: none
      transition: 0.5s
    & label::before
      content: ''
      position: absolute
      background: rgb(111, 110, 255)
      border-radius: 50%
      width: 16px
      height: 16px
      left: 21px
      top: 2px
      transition: 0.5s
    & input:checked + label::before
      left: 3px

