@media (max-width: 1250px)
  .left-bar
    .left-bar__body
      .left-bar__item
        &_media
          display: block
          margin-bottom: 30px
  .top-bar
    .top-bar__list
      .inform
        display: none
      .lecture-information
        margin-right: auto

@media (max-width: 992px)
  .content
    padding: 40px 40px 15px 40px
  .left-bar
    left: -100%
    background-color: rgb(45, 46, 64)
    &_active
      left: 0
  .top-bar
    .top-bar__list
      .hamburger
        display: block
        position: absolute
        right: 15px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span
          display: block
          height: 2px
          width: 100%
          background-color: white
          margin-bottom: 2px
          transition: 0.5s all
        &_active
          span
            margin-bottom: -2px
            &:first-child
              transform: translateY(3px) rotate(-45deg)

            &:nth-child(2)
              display: none

            &:last-child
              transform: translateY(3px) rotate(45deg)
    .inform
      display: none

  main
    padding-left: 0
    transition: 0.7s all


@media (max-width: 680px)
  main
    .content
      padding: 40px 30px 15px 30px
  .top-bar
    .top-bar__list
      padding-left: 15px
      padding-right: 15px
      .lecture-information
        display: none
      .account-profile
        margin-right: auto

@media (max-width: 500px)
  main
    .content
      padding: 50px



@media (max-width: 390px)
  main
    .content
      padding: 30px
  .card-header__lectures
    display: none
