.slick-prev
  right: 35px
  top: 0
  position: absolute
.slick-next
  right: 0
  position: absolute
  top: 0

.slick-dots
  display: flex
  align-items: center
  justify-content: center
  li
    list-style: none
    margin: 0 10px
    button
      border: none
      background-color: #ffffff
      font-size: 0
      width: 10px
      height: 10px
      border-radius: 50%
  .slick-active button
    background-color: transparent
    border: 1px solid white

.slick-slider
  position: static

