*
  padding: 0
  margin: 0
  box-sizing: border-box
  color: white
  font-family: 'Jost', sans-serif
  text-decoration: none
  list-style: none
img
  max-width: 100%
  object-fit: cover

body
  background-color: rgb(43, 44, 58)

.buttons__slider
  background-color: rgba(255, 0, 0, 0)
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  width: 31px
  height: 30px
  border-radius: 4px
  border: solid 1px rgba(255, 255, 255,0.15)
  margin-right: 5px
  img
    width: 20%
  &:hover
    border: solid 1px rgba(255, 255, 255,0.4)

.button_blue
  transition: 0.5s all
  border: none
  user-select: none
  display: flex
  justify-content: center
  align-items: center
  width: 86px
  height: 30px
  border-radius: 4px
  background-color: rgb(107, 105, 249)
  font-size: 12px
  &:hover
    background-color: rgba(107, 105, 249, 0.69)
  &:active
    background-color: rgba(36, 203, 141, 0.8)

.card-header__lectures
  z-index: 1
  right: 65px
  top: 0
  position: absolute
  margin-right: 10px

.card-header
  .card-header__level
    text-transform: uppercase
    font-size: 11px
    text-align: left
    color: rgba(255, 255, 255, 0.4)
    margin-bottom: 5px
  .card-header__title
    font-weight: 500
    font-size: 22px
    line-height: 18px
    text-align: left
    color: rgb(255, 255, 255)

*::-webkit-scrollbar
  width: 7px
  background-color: rgba(18, 18, 202, 0)

*::-webkit-scrollbar-thumb
  border-radius: 5px
  background-color: rgba(111, 110, 255, 0.5)