.top-bar
  background-color: rgb(43, 44, 58)
  z-index: 2
  position: sticky
  width: 100%
  top: 0
  left: 0
  border-bottom: 1px solid rgba(216, 216, 216, 0.19)
  .top-bar__list
    padding-left: 50px
    padding-right: 50px
    width: 100%
    display: flex
    height: 77.7px
    justify-content: flex-end
    align-items: center
    .hamburger
      display: none

.inform
  margin-right: auto
  padding-right: 30px
  border-right: 2px solid rgba(216, 216, 216, 0.1)
  .inform__list
    display: flex
    .inform__item
      transition: 0.5s all
      .inform__link
        color: rgba(255, 255, 255, 0.51)
      &:not(:last-child)
        margin-right: 20px
      &:hover
        transform: scale(1.05)
        .inform__link
          color: rgba(36, 203, 141, 0.73)
      &:active
        .inform__link
          color: rgba(36, 203, 141, 0.88)

.lecture-information
  display: flex
  align-items: center
  &__item
    user-select: none
    padding-left: 10px
    padding-right: 10px
    display: flex
    justify-content: center
    align-items: center
    font-size: 12px
    width: 100px
    height: 24px
    border-radius: 5px
    background-color: rgba(91, 89, 89, 0.38)
    transition: 0.5s all
  &:focus
    outline: 1px solid white
  &__item:last-child
    padding-top: 1px
    padding-left: 3px
    .lecture-information__icon
      margin-right: 5px
      position: relative
      width: 18px
      height: 18px
      border-radius: 4px
      box-shadow: 0 0 12px 0 rgba(255, 71, 56, 0.5)
      background-color: rgb(255, 71, 56)
      &:before
        position: absolute
        content: url("/icon/lightning.svg")
        left: 50%
        top: 60%
        transform: translateX(-50%) translateY(-50%)
    span
      font-weight: 700
  &__item:not(:last-child)
    margin-right: 20px
  &__item:hover
    transform: scale(1.05)
    background-image: linear-gradient(to right, rgb(36, 203, 141, 0.73), rgba(91, 89, 89, 0.38))
  &__item:active
    background-color: rgba(36, 203, 141)


.account-profile
  margin-left: 20px
  display: flex
  column-gap: 15px
  &__image
    img
      min-width: 43px
  .account-profile__text
    .account-profile__name
      margin-bottom: 5px
      &:after
        margin-left: 15px
        padding-left: 10px
        padding-right: 10px
        content: "Pro"
        text-transform: uppercase
        margin-right: 10px
        width: 40px
        height: 14px
        box-shadow: 0 0 12px 0 rgba(111, 110, 255, 0.5)
        background-image: linear-gradient(to right, rgb(107, 105, 249), rgb(111, 110, 255))
        border-radius: 5px
      &:hover:after
        background-image: linear-gradient(to right, rgb(36, 203, 141), rgb(111, 110, 255))
    .account-profile__status
      user-select: none
      font-size: 13px
      font-weight: 600
      line-height: 10px
      text-align: left
      color: rgb(36, 203, 141)
    .account-profile__status:before
      content: " "
      display: inline-block
      margin-right: 10px
      width: 8px
      height: 8px
      background-color: rgb(36, 203, 141)
      border-radius: 50%
      left: 1%